.installments-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.card-extra-info {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#halkode_expiry_month, #halkode_expiry_year, #halkode_cc_cvv {
  text-align: center;
  flex: 1 1 auto;
  width: 50px;
}

.single-installment {
  display: flex;
  flex-direction: column;
  border: 2px solid #ccc;
  text-align: center;
  line-height: 1.5rem;
  padding: 5px 15px;
  cursor: pointer;
}

.single-installment:hover {
  background-color: lightgray;
}

.single-installment .halkode_heading {
  font-weight: 600;

  margin-bottom: 10px;

  color: #777777;
}

.single-installment .halkode_amount {
  color: #333333;

  font-weight: bolder;
}

.single-installment .halkode_installment_number {
  padding-bottom: 0px !important;

  padding-left: 10px;

  font-size: inherit !important;
}

.single-installment .halkode_total_amount {
  font-weight: 500;

  margin: 5px;

  color: #800;
}

.single-installment.active {
  border: 2px solid green;
}

.recurring_block {
  margin: 10px 0;
}

.recurring_option_fields input,
.recurring_option_fields select {
  height: 40px;

  padding: 8px;
}

.woocommerce table.form-table textarea#woocommerce_halkode_payment_description {
  width: 400px;
}

#woocommerce_halkode_payment_webhook_url,
#woocommerce_halkode_payment_sale_webhook_url {
  display: none;
}

.wc_payment_method .payment_method_halkode_payment {
  background-color: #ffffff;
}
#expiry_month,
#expiry_year {
  height: 44px !important;
  width: 48% !important;
  padding: 0 !important;
}

.wc_payment_method.payment_method_halkode_sanalpos {
  background-image: url(../images/logo2.png) !important;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position-x: calc(100% - 20px);
  background-position-y: 17px;
}

.wc_payment_method.payment_method_halkode_sanalpos * {
  font-size: 1rem !important;
}

.halkode_spinner_blk {
    display: flex;
    align-items: center;
    justify-content: center;
}

.halkode-card-number-row {
    display: flex;
    gap: 10px;
}

#cc_number {
    flex: 1 1 auto;
}
